# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
venv312/
.env

# Jupyter
.ipynb_checkpoints/

# Node
frontend/node_modules/
frontend/build/

# React
frontend/.env
frontend/.env.local

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Logs
*.log
requirements.txt.txt
data/raw/
models/*.pkl
